<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	<!-- 	<property name="connection.provider_class">
			org.jasypt.hibernate4.connectionprovider.EncryptedPasswordDriverManagerConnectionProvider
		</property>
		<property name="connection.encryptor_registered_name">
			configurationHibernateEncryptor
		</property> -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<!-- property name="connection.driver_class">com.mysql.jdbc.Driver</property -->
		<property name="connection.url">jdbc:mysql://rm-zf8xb9s67e605l651.mysql.kualalumpur.rds.aliyuncs.com:3306/creditchecker</property>
		<!-- <property name="connection.url">jdbc:mysql://airapay-sandbox.c3rilhzfezwb.ap-southeast-1.rds.amazonaws.com:3306/creditchecker_dev</property> -->
		
		<property name="connection.username">creditcheckerapp</property>
		<!-- <property name="connection.password">admin123qwe</property> -->
		<property name="connection.password">PYi6Fq9u!v@uc6t</property>
		<!-- <property name="connection.password">ENC(Ksdw9iCd4u9apHrfTAXA+mHe43+iNAu7)</property> -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<!-- mapping class="com.mcnz.jpa.examples.Player" / -->
	</session-factory>

</hibernate-configuration>